# Capstone Project 3

In [5]:
# import pandas library
import pandas as pd

### Activity 1: Read CSV File

In [42]:
# import pandas and read `covid.csv` file
df = pd.read_csv("covid.csv", index_col=0)
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,new_deaths_smoothed_per_million,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,population
index,,,,,,,,,,,,,,,,,,,,,
0,AFG,Asia,Afghanistan,2020-03-28,106.0,15.0,11.714,2.0,0.0,0.286,...,0.007,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
1,AFG,Asia,Afghanistan,2020-03-29,114.0,8.0,11.429,4.0,2.0,0.571,...,0.014,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
2,AFG,Asia,Afghanistan,2020-03-30,114.0,0.0,10.571,4.0,0.0,0.429,...,0.010,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
3,AFG,Asia,Afghanistan,2020-03-31,166.0,52.0,17.714,4.0,0.0,0.429,...,0.010,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
4,AFG,Asia,Afghanistan,2020-04-01,192.0,26.0,16.857,4.0,0.0,0.429,...,0.010,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166615,ZWE,Africa,Zimbabwe,2022-12-02,259164.0,0.0,181.571,5620.0,0.0,2.000,...,0.123,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0
166616,ZWE,Africa,Zimbabwe,2022-12-03,259164.0,0.0,181.571,5620.0,0.0,2.000,...,0.123,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0
166617,ZWE,Africa,Zimbabwe,2022-12-04,259164.0,0.0,181.571,5620.0,0.0,2.000,...,0.123,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0
166618,ZWE,Africa,Zimbabwe,2022-12-05,259164.0,0.0,181.571,5620.0,0.0,2.000,...,0.123,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0
166619,ZWE,Africa,Zimbabwe,2022-12-06,259356.0,192.0,209.000,5622.0,2.0,2.286,...,0.140,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0

### Activity 2: Select the correct shape

In [22]:
# Get the shape of the df dataframe
df.shape

(166620, 25)

### Activity 3: Select the correct datatype

In [20]:
# find the data types of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 166620 entries, 0 to 166619
Data columns (total 25 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   iso_code                         166620 non-null  object
 1   continent                        166620 non-null  object
 2   location                         166620 non-null  object
 3   date                             166620 non-null  object
 4   total_cases                      166620 non-null  float64
 5   new_cases                        166620 non-null  float64
 6   new_cases_smoothed               166620 non-null  float64
 7   total_deaths                     166620 non-null  float64
 8   new_deaths                       166620 non-null  float64
 9   new_deaths_smoothed              166620 non-null  float64
 10  total_cases_per_million          166620 non-null  float64
 11  new_cases_per_million            166620 non-null  float64
 12  new_cases_smoothed_per_million   166620 non-null  float64
 13  total_deaths_per_million         166620 non-null  float64
 14  new_deaths_per_million           166620 non-null  float64
 15  new_deaths_smoothed_per_million  166620 non-null  float64
 16  population_density               166620 non-null  float64
 17  median_age                       166620 non-null  float64
 18  aged_65_older                    166620 non-null  float64
 19  aged_70_older                    166620 non-null  float64
 20  gdp_per_capita                   166620 non-null  float64
 21  cardiovasc_death_rate            166620 non-null  float64
 22  diabetes_prevalence              166620 non-null  float64
 23  life_expectancy                  166620 non-null  float64
 24  population                       166620 non-null  float64
dtypes: float64(21), object(4)
memory usage: 33.1+ MB

### Activity 4: Find the minimum and maximum values

In [19]:
# find the minimum and maximum values of the columns 'total_cases'.
df["total_cases"].describe()

count    1.666200e+05
mean     1.521780e+06
std      5.915449e+06
min      1.000000e+00
25%      1.359875e+04
50%      1.118450e+05
75%      6.543800e+05
max      9.947020e+07
Name: total_cases, dtype: float64

### Activity 5: Total cases in the COVID-19 dataset

In [17]:
# find the total cases of all the countries.
df["total_cases"].sum()

253558957405.0

### Activity 6: Find the mean cases per day

In [18]:
# find the mean of new cases.
df["new_cases"].mean()

3788.699153763054

### Activity 7: Select values from a dataframe using indexing

In [44]:
# Selecting values from a Dataframe using indexing.
df1 = df[["continent", "location"]]

### Activity 8: Drop columns from the dataframe

In [45]:
# Drop below columns from the Dataframe
# ['iso_code', 'new_cases_smoothed', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million']
df.drop(columns=['iso_code', 'new_cases_smoothed', 'new_deaths_smoothed'
                , 'total_cases_per_million', 'new_cases_per_million'
                , 'new_cases_smoothed_per_million', 'total_deaths_per_million'
                , 'new_deaths_per_million', 'new_deaths_smoothed_per_million']
        , inplace=True)

### Activity 9: Add more rows to a dataframe

In [46]:
#  Adding More rows to a Dataframe.
new_data = {'continent': ['Africa'], 'location': ['Zimbabwe'], 'date': ['2022-12-07'], 'total_cases': [259356.0], 'new_cases': [192.0], 'total_deaths': [5622.0], 'new_deaths': [2.0], 'population_density': [42.729], 'median_age': [19.6], 'aged_65_older': [2.822], 'aged_70_older': [1.845], 'gdp_per_capita': [1899.767], 'cardiovasc_death_rate': [307.846], 'diabetes_prevalence': [1.85], 'life_expectancy': [61.55], 'population': [16320539.0]}
new_df = pd.DataFrame.from_dict(new_data)
df = pd.concat([df, new_df], ignore_index=True)

### Activity 10: Update a specific cell value in the COVID-19 dataset

In [48]:
# Updating the value of a specific cell in the COVID-19 dataset.
df.loc[166620, ["total_cases"]] = 259357.0

### Activity 11: Update a multiple cell value in the COVID-19 dataset

In [50]:
# Updating values in a specific column of the COVID-19 dataset.
df.loc[[166618, 166619 ] , ["total_cases"]] = 259357, 259358.0

### Activity 12: Remove rows from the dataframe

In [56]:
# Removing Rows from a DataFrame
df.drop([166620, 166619], inplace = True)

### Activity 13: Use `.loc` to select rows based on a condition

In [58]:
# Using .loc to select rows based on a condition.
df_1m = df.loc[df["total_cases"] > 1000000]

### Activity 14: Select specific columns and rows

In [82]:
# Using .iloc to select specific columns and rows.
df_cases_death = df.loc[[5168, 5172, 163703], ["total_cases", "total_deaths"]]
df_cases_death

        total_cases  total_deaths
5168      1002662.0       26716.0
5172      1069368.0       28338.0
163703   11520445.0       43178.0

In [60]:
df.index

RangeIndex(start=0, stop=166619, step=1)

### Activity 15: Sort COVID-19 data in ascending order

In [86]:
# Sorting COVID-19 data in ascending order.
df_sorted = df.sort_values(by="total_cases")

### Activity 16: Sort COVID-19 data in descending order

In [88]:
# Sorting COVID-19 data in descending order.
df_sorted_desc = df.sort_values(by="total_cases", ascending=False)

### Activity 17: Sort the COVID-19 data by multiple columns

In [90]:
# Sorting COVID-19 data by multiple columns.
df_sorted_multi = df.sort_values(by=["total_cases", "total_deaths"], ascending=[False, True])

### Activity 18: Add new columns using arithmetic operations

In [94]:
# Adding New Columns with Arithmetic Operations.
df["total_cases_population_density"] = df["total_cases"]/df["population"]

### Activity 19: Using vectorized operations to update a column

In [96]:
# Using Vectorized Operations to Update a Column.
df["total_cases_population_density"] *= 1000

### Activity 20: Remove columns using `del` statement

In [98]:
# Removing columns with del statement.
del df["total_cases_population_density"]

### Activity 21: Rename columns

In [106]:
# Rename the columns.
df.rename(columns={"total_cases":"Total Cases", "total_deaths": "Total Deaths"}, inplace = True)

### Activity 22: Filter COVID-19 data using boolean indexing

In [112]:
# Filtering COVID-19 data using boolean indexing.
df_india_china = df.loc[((df["location"] == "India") | (df["location"] == "China"))]
df_range = df.loc[(df["new_cases"] > 100000 )&(df["new_cases"] < 200000 )]
df_greater_new_cases = df.loc[df["new_cases"] > 10000]

In [108]:
df

,continent,location,date,Total Cases,new_cases,Total Deaths,new_deaths,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,life_expectancy,population
0,Asia,Afghanistan,2020-03-28,106.0,15.0,2.0,0.0,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
1,Asia,Afghanistan,2020-03-29,114.0,8.0,4.0,2.0,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
2,Asia,Afghanistan,2020-03-30,114.0,0.0,4.0,0.0,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
3,Asia,Afghanistan,2020-03-31,166.0,52.0,4.0,0.0,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
4,Asia,Afghanistan,2020-04-01,192.0,26.0,4.0,0.0,54.422,18.6,2.581,1.337,1803.987,597.029,9.59,64.83,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166614,Africa,Zimbabwe,2022-12-01,259164.0,0.0,5620.0,0.0,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0
166615,Africa,Zimbabwe,2022-12-02,259164.0,0.0,5620.0,0.0,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0
166616,Africa,Zimbabwe,2022-12-03,259164.0,0.0,5620.0,0.0,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0
166617,Africa,Zimbabwe,2022-12-04,259164.0,0.0,5620.0,0.0,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0
166618,Africa,Zimbabwe,2022-12-05,259357.0,0.0,5620.0,0.0,42.729,19.6,2.822,1.882,1899.775,307.846,1.82,61.49,16320539.0

# End!